* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: hsl(225, 100%, 94%);
  height: 1000px;
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  height: auto;
  width: 450px;
  text-align: center;
  margin: auto;
}

.border {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card-2 {
  height: 450px;
  width: auto;
  padding: 5%;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  bottom: 4px;
  z-index: 1;
}

.header-h1, .header-p {
  padding: 5%;
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(223, 47%, 23%);
}

.header-p {
  line-height: 1.5;
  color: hsl(224, 23%, 55%);
 }

 .pricing {
   padding: 5%;
   font-family: 'Kumbh Sans', sans-serif;
   color: hsl(223, 47%, 23%);
   margin-bottom: 5%;
   border-radius: 10px;
   align-items: center;
   height: 80px;
   width: auto;
   background-color: hsl(225, 100%, 98%);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .pricing p {
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 500;
   color: hsl(224, 23%, 55%);
 }

 .Payment {
   transition: all 300ms ease;
   font-family: 'Kumbh Sans', sans-serif;
   padding: 5% 30.85%;
   border-radius: 10px;
   background-color: hsl(245, 75%, 52%);
   color: #fff;
   text-decoration: none;
   position: relative;
   top: 25px;
 }

 .change-link {
   transition: all 300ms ease;
 }

 .cancel-order {
   transition: all 300ms ease;
   font-family: 'Kumbh Sans', sans-serif;
   text-decoration: none;
   position: relative;
   top: 35px;
 }

 .Payment:hover {
   background-color: hsl(245, 55%, 52%);
 }

 .change-link:hover {
   text-decoration: none;
   color: hsl(245, 55%, 52%);
 }

 .cancel-order:hover {
   color: hsl(223, 47%, 23%);
 }

 /* Mobile responsive */
@media (max-width: 900px) {
  .background {
    height: 1000px;
  }

  .card, .card-2 {
    padding: 4.7%;
  }

  .border {
    position: relative;
    right: 22px;
    top: 11px;
    transform: scale(0.9);
  }

  .Payment {
    padding: 5% 28.85%;
  }

  .pricing {
    padding: 5%;
  }
}
